### 자료형 데이터
- 여러개의 데이터를 하나의 변수에 저장시키기 위한 형태

- 자료형 데이터 중에 가장 기본적인 형태
- ()를 이용해서 데이터를 생성
- 한번 생성이 되면 수정이 불가능 (새로운 tuple을 생성)

- list
    - []를 이용하여 데이터를 생성
    -tuple과는 다르게 각 원소들을 수정하거나 삭제, 추가 작업이 가능(리스트의 내부 함수를 이용)
    -원소의 개수를 0개부터 생성이 가능(비어있는 리스트가 생성 -> 여러개의 데이터를 하나의 변수에 담을 준비 과정)

- dict
    - {}를 이용하여 데이터를 생성
    - key : value의 형태로 데이터가 구성(list에서는 위치를 기준으로 데이터를 추출한다면 dict는 key를 기준으로 데이터를 추출)
    - 원소의 개수는 0부터 생성이 가능

In [1]:
# tuple 데이터 생성
# 원소마다 타입이 달라도 생성이 가능

tuple_a = (1, 'Hello')
tuple_b = (3,3.14)
print(tuple_a)
print(tuple_b)
print(type(tuple_a))

(1, 'Hello')
(3, 3.14)
<class 'tuple'>

In [3]:
# tuple에서 특정 위치의 데이터를 추출 (index 값은 0부터 시작)
print(tuple_a[0]) #1
print(tuple_b[1]) #3.14

1
3.14

In [4]:
#tuple끼리의 합 -> 문자의 합과 같은 결과 -> 새로운 튜플이 생성
tuple_a + tuple_b

(1, 'Hello', 3, 3.14)

In [7]:
#tuple이랑 숫자의 합? -> 에러가 발생 -> tuple과 숫자데이터는 합이 불가능
#tuple_b + 1

In [20]:
#list 형태의 데이터

list_a = [30,20,50,10]
list_b = ['abc','fi','be']

In [21]:
#list의 함수 중 정렬을 변경하는 함수를 사용
#sort() : 기본적으로는 리스트의 원소들을 오름차순 정렬로 변경
#reverse() : 리스트의 원소들을 역순으로 변경
# 위의 2개 함수들은 list값이 변경 -> print() 함수를 이용하지않으면 출력 X

list_a.sort()

In [22]:
list_a

[10, 20, 30, 50]

In [23]:
# 내림차순 정렬? -> 
# 1. 오름차순 정렬 -> 순서를 역순으로 변경
list_b.sort()
list_b.reverse()

In [24]:
list_b

['fi', 'be', 'abc']

In [25]:
# sort() : 매개변수 reverse 존재 (기본값이 False - > 오름차순 정렬)
#          reverse의 값을 True로 변경하면 내림차순 정렬
list_a.sort(reverse=True)

In [26]:
list_a

[50, 30, 20, 10]

In [27]:
list_a.sort()

In [28]:
# list의 원소를 추가하는 방법
# 가장 마지막에 원소를 추가하는 방법 : append('data')
# 특정 위치에 데이터를 대입 : insert ( index, 'data' )

list_a.append(100)
print(list_a)

[10, 20, 30, 50, 100]

In [29]:
list_a.insert(2,5) #list_a의 3번째 자리(index=[2])에 5를 삽입
print(list_a)

[10, 20, 5, 30, 50, 100]

In [1]:
#list_a.update(2,10)  # list에 update() 라는 함수가 존재하지 않기 때문에 에러 발생

In [30]:
# list 내부의 데이터를 수정하는 방법??
# 어떠한 데이터를 수정할 것인가?? -> 수정할 데이터를 선택
# list_a에 있는 2번째의 위치의 데이터를 수정할 것이다.(index -> 1)
print(list_a[1])
#30을 15로 변경하고싶다.
#-> 30의 데이터를 제거하고 15를 대입
list_a[1] = 15
print(list_a)

20
[10, 15, 5, 30, 50, 100]

In [31]:
# list에서 데이터를 삭제
# 가장 마지막 데이터를 제거 : pop() 함수 사용
# 특정 값의 데이터를 제거 : remove('제거할 data') 함수 사용
# 특정 위치의 데이터를 제거 : del list[index]
list_a.pop()

100

In [32]:
list_a.append(15)
list_a

[10, 15, 5, 30, 50, 15]

In [33]:
# remove() 함수를 이용하여 list_a의 15라는 값을 제거
list_a.remove(15)

In [34]:
list_a

[10, 5, 30, 50, 15]

In [35]:
#특정 위치의 데이터를 제거하는 del
del list_a[3]

In [36]:
list_a

[10, 5, 30, 15]

In [37]:
# 복사본 생성? (백업)
a = 10
b = a
print(a)
print(b)

10
10

In [38]:
a += 1 # a = a+1
print(a)
print(b)

11
10

In [39]:
list_clone = list_a

In [40]:
print(list_a)
print(list_clone)

[10, 5, 30, 15]
[10, 5, 30, 15]

In [41]:
#list_clone을 수정
list_clone.pop()

15

In [42]:
print(list_a)
print(list_clone)

[10, 5, 30]
[10, 5, 30]

In [43]:
#list = list -> 같은 위치의 데이터를 의미
# 실제 복사본을 생성하려면 copy() 함수를 의미
list_a.copy()

[10, 5, 30]

In [44]:
list_clone2 = list_a.copy()

In [45]:
list_clone2.append(1)

In [46]:
print(list_a)
print(list_clone)
print(list_clone2)

[10, 5, 30]
[10, 5, 30]
[10, 5, 30, 1]

In [ ]:
# list에서 정렬을 변경하고 원본 데이터는 그대로 유지
# sorted(list 이름 )
sort_list_a = sorted(list_a)

In [48]:
print(list_a)
print(sort_list_a)

[10, 5, 30]
[5, 10, 30]

In [49]:
# list 간의 합
list_a + list_b

[10, 5, 30, 'fi', 'be', 'abc']

In [ ]:
# list와 숫자의 합? -> 에러가 발생 -> list도 단일 데이터와의 합은 문제 발생
list_a + 1

TypeError: can only concatenate list (not "int") to list

In [ ]:
# 데이터를 찾는 함수
# index(data) : 특정 데이터의 첫번째(index=[1]) 위치를 출력 
list_a.index(5)

1

In [63]:
# index() 함수를 이용해서 없는 데이터를 찾는 경우? -> 에러가 발생
# list_a.index(10)

In [64]:
# 2차원 데이터 : 리스트 안에 리스트, 리스트 안에 튜플, 튜플 아에 리스트, 딕셔너리 안에 리스트, 리스트 안에 딕셔너리

list_c = [
    [10,20],
    [30,40],
    [50,60]
]

In [65]:
# 2차원 데이터에서 특정위치 하나를 선택하면 -> 1차원 데이터 변경
list_c[1] # list_c에서 2번째 위치의 데이터를 추출

[30, 40]

In [ ]:
#list_c에서 30이라는 데이터를 추출
# list_c 30은 2번째 위치의 원소 안에 포함
print(list_c[1])
# 2번째 위치의 원소에서 첫번째 위치의 데이터가 30
print(list_c[1][0])

[30, 40]
30

In [ ]:
#딕셔너리
dict_a = {
    'name' : 'test',
    'age' : 20,
    'phone' : '01012345678'
}

In [ ]:
# 딕셔너리는 위치를 기준으로 하는 list와 달리 key를 기준으로 데이터를 추출
# dict_a[0] --> 0이라는 키값에 대응이 되는 value를 출력한다 
# -> 0이라는 key가 존재하지 않기 때문에 에러 발생
dict_a[0]

KeyError: 0

In [69]:
dict_a['name']

'test'

In [70]:
dict_b = {
    'age' : 20,
    'name' : 'test2',
    'phone' : '01012345678'
}

In [71]:
dict_b['name']

'test2'

In [74]:
#데이터를 추가하려면 -> key : value를 추가
# 추가 기능과 수정 기능의 코드 차이가 거의 없다.
# 추가 -> 새로운 key = data
# 수정 -> 기존 key = data
# dict_a에 loc 라는 키 값으로 value = seoul 데이터를 추가
dict_a['loc'] = 'Seoul'

In [75]:
dict_a

{'name': 'test', 'age': 20, 'phone': '01012345678', 'loc': 'Seoul'}

In [ ]:
#기존의 키 값을 선택하고 데이터를 대입하면 
# 기존의 value는 제거되고 새로운 value가 추가(데이터 수정)
dict_a['age'] = 30

In [78]:
dict_a

{'name': 'test', 'age': 30, 'phone': '01012345678', 'loc': 'Seoul'}

In [ ]:
# dict에서 데이터를 제거 (del 함수) -> key와 value가 모두 삭제
del dict_a['name']

In [80]:
dict_a

{'age': 30, 'phone': '01012345678', 'loc': 'Seoul'}

In [84]:
# 데이터를 수집하는 경우
# open api(data api) 사용하는 경우
# 리스트안에 딕셔너리이거나 딕셔너리 안에 리스트인 경우가 많다

sample_data = {
    'name' : [ 'kim','park','lee'],
    'age'  : [ '20', '25', '30'],
    'gender' : ['F', 'M', 'F']
}

In [85]:
# sample_data에서 'M'을 추출하려면?
# sample_data의 타입? -> dict이므로 'M'이 위치한 key는 -> 'gender'
sample_data['gender']

['F', 'M', 'F']

In [104]:
# 위의 결과에서 나온 1차원 데이터에서 'M'은 몇번쨰 위치? -> 1
sample_data['gender'][1]

'M'

In [94]:
sample_data2 = [
    {
        'name' : 'kim',
        'age' : 20,
        'gender' : 'F'
    },
    {
        'name' : 'park',
        'age' : 25,
        'gender' : 'M'
    },
    {
        'name' : 'lee',
        'age' : 30,
        'gender' : 'F'
    },
]

In [98]:
#sample_data2에서 'park'이라는 데이터를 추출하려면?
# sample_data2에서 2번째 위치에 'park'데이터가 존재 -> index 1
sample_data2[1]

{'name': 'park', 'age': 25, 'gender': 'M'}

In [100]:
#sample_data2[1]은 데이터의 타입이 dict이고, 'park'라는 데이터는 'name'이라는 'key'에 존재
sample_data2[1]['name']

'park'

In [ ]:
# sample_data2에서 이름들을 따로 새로운 리스트를 생성
# 이름들을 저장할 수 있는 공간을 생성 -> 변수에 여러개의 이름이 저장 -> 리스트나 딕셔너리형태로 만들어주는 것이 좋음

name_list = [] #실행할때마다 비워줌
#sample_data2에서 첫번째 원소의 'name'값을 추출하여 name_list에 추가

name = sample_data2[0]['name']
name_list.append(name)
print(name_list)

['kim']

In [125]:
#sample_data2에서 두번째,세번째 원소의 'name'값을 추출하여 name_list에 추가

name = sample_data2[1]['name']
name_list.append(name)
print(name_list)

name = sample_data2[2]['name']
name_list.append(name)
print(name_list)

['kim', 'park']
['kim', 'park', 'lee']

In [ ]:
# 반복문을 이용하여 name_list 생성
# 새로운 빈 리스트를 생성

#name_list2 = []
#for i in range(3):
#   name = sample_data2[0]['name']
#   name_list2.append(name)
#   name = sample_data2[1]['name']
#   name_list2.append(name)
#   name = sample_data2[2]['name']
#   name_list2.append(name)

name_list2 = []

for i in range(3):
    name = sample_data2[i]['name']
    name_list2.append(name)

print(name_list2)

['kim', 'park', 'lee']

In [ ]:
# name_list2 = [] 의 위치를 잘 생각해야함
# 반복될때마다 빈리스트가 저장되기 때문에 마지막에 추가된 'lee'만 출력됌
for i in range(3):
    name_list2 = []
    name = sample_data2[i]['name']
    name_list2.append(name)

print(name_list2)

['lee']

In [130]:
len(sample_data2)

3

In [ ]:
list_a = [10,40,20,30]


for i in list_a:
    #i -> list_a의 각 원소들이 대입
    print(i)

for i in range(len(list_a)):
    #i -> list_a의 위치값 대입
    print(list_a[i])

10
40
20
30
10
40
20
30

In [132]:
for i in sample_data2:
    # i는 ??? -> 
    print(i)
    break

{'name': 'kim', 'age': 20, 'gender': 'F'}

In [ ]:
for i in sample_data2:
    # i는 ??? -> sample_data2에 있는 원소들(dict)
    print(i)
    #i에서 name이라고 하는 key의 value를 추출
    print(i['name'])

{'name': 'kim', 'age': 20, 'gender': 'F'}
kim
{'name': 'park', 'age': 25, 'gender': 'M'}
park
{'name': 'lee', 'age': 30, 'gender': 'F'}
lee

In [136]:
name_list3 = []

for i in sample_data2:
    # i는 ??? -> sample_data2에 있는 원소들(dict)
    print(i)
    #i에서 name이라고 하는 key의 value를 추출
    print(i['name'])
    name_list3.append(i['name'])

print(name_list3)

{'name': 'kim', 'age': 20, 'gender': 'F'}
kim
{'name': 'park', 'age': 25, 'gender': 'M'}
park
{'name': 'lee', 'age': 30, 'gender': 'F'}
lee
['kim', 'park', 'lee']

In [137]:
name_list3 = []

for i in sample_data2:
    # i는 ??? -> sample_data2에 있는 원소들(dict)
    #print(i)
    #i에서 name이라고 하는 key의 value를 추출
    #print(i['name'])
    name_list3.append(i['name'])

print(name_list3)

['kim', 'park', 'lee']

In [139]:
# dict 형태의 데이터를 가지고 반복문을 이용한다면?

for i in sample_data:
    #i는 ??? -> print를 해봐라 -> dict 데이터에서 key 값 대입
    print(i)
    print(sample_data[i])

name
['kim', 'park', 'lee']
age
['20', '25', '30']
gender
['F', 'M', 'F']

In [143]:
#sort() -> 리스트 각각의 원소들을 비교하여 가장 작은 데이터를 처음으로 
#          가장 큰 데이터를 마지막으로하여 정렬을 변경하는 함수

sample_list = [30,10,50,7]
#sample_list에서 가장 작은 데이터를 담아줄 수 있는 새로운 빈 리스트 필요

sort_list = []

#sample_list의 길이만큼 반복을 하는 반복문을 생성
for i in range(0,len(sample_list)):                               #반복횟수 : 4번
    #첫번째 원소의 데이터를 최솟값으로 지정
    min_value = sample_list[0]
    #두번째 원소[1]부터 마지막 원소(len)까지 min_value랑 비교해서 작은 데이터를 min_value에 대입
    for j in range(1,len(sample_list)):                           #반복횟수 : 3번
        #min_value와 sample_list[j] 데이터를 비교하여 작은 값을 찾는다.
        if min_value > sample_list[j]:
            #min_value가 리스트의 원소보다 크다면 실행이 되는 부분
            min_value = sample_list[j]
    # print(min_value)
    sort_list.append(min_value)
    # sample_list에서 최솟값으로 지정된 데이터를 sample_list 에서 제거
    sample_list.remove(min_value)

In [145]:
sort_list

[7, 10, 30, 50]

In [ ]:
#min 함수와 max 함수 이용해서 위의 값 도출

sample_list = [30,10,50,7]
sort_list = []

for i in range(len(sample_list)):
    #반복할때마다 sample_list의 가장 작은 데이터를 찾는다 -> min()
    min_value = min(sample_list)
    print(min_value)

    sort_list.append(min_value)

    #sample_list에서 min_value제거
    sample_list.remove(min_value)

print(sort_list)

7
10
30
50
[7, 10, 30, 50]

In [ ]:
#위의 과정을 기능하는 함수 sorted
sample_list = [30,10,50,7]
sorted(sample_list)

[7, 10, 30, 50]