#### 문자열에서 제공하는 내장 함수

- upper() : 문자열을 모두 대문자로 변경
- lower() : 문자열을 모두 소문자로 변경
- swapcase() : 대문자를 소문자로, 소문자를 대문자로 변경
- title() : 단어의 첫글자만 대문자로 변경
- strip() : 기본적으로는 문자열의 시작과 끝의 존재하는 공백을 제거
    - rstrip() : 문자열의 끝의 공백을 제거
    - lstrip() : 문자열의 시작의 공백을 제거
- replace() : 특정문자를 찾아서 다른 문자로 치환
- split() : 특정문자를 찾아서 문자를 잘라주는 기능 -> 결과가 list로 출력됨

In [1]:
text_a = 'Apple'
text_b = 'apple'

In [2]:
text_a == text_b

False

In [8]:
# text_a와 text_b를 비교했을때 같다 라는 결과를 만들려면
# 두개의 데이터의 형태를 같게 만든다.
text_a.upper() # ex) str.upper() -> . 의 의미 : 문자열(str) 안에있는 upper()라는 함수를 호출한다.
               # 출력이 나온다는 의미 : text_a의 기본값 'Apple'은 바뀌지 않음 , 
               # 기본값도 'APPLE'로 바꾸려면 text_a = text_a.upper() ,
               # text_a에 다시 저장하는 과정

'APPLE'

In [9]:
text_a = text_a.upper()

In [10]:
text_b = text_b.upper()

In [11]:
text_a == text_b

True

In [16]:
text_c = " Hello world "

In [17]:
#lower
text_c.lower()

' hello world '

In [18]:
#swapcase()
text_c.swapcase()

' hELLO WORLD '

In [19]:
text_c.title()

' Hello World '

In [ ]:
#좌우의 공백이 다르기 때문에 False
text_c == "Hello world"

False

In [21]:
text_c.strip()

'Hello world'

In [22]:
text_c.rstrip()

' Hello world'

In [23]:
text_c.lstrip()

'Hello world '

In [ ]:
#print 해보면 뭐가 다른지 잘 모를 수 있음
print(text_c.lstrip())
print(text_c.strip())

Hello world
Hello world

In [26]:
#문자열을 숫자열로 변환
#금액을 숫자로 변경하여 계산
price_1 = '$10.00'
price_2 = '$20.00'

In [27]:
price_1 + price_2

'$10.00$20.00'

In [29]:
#float(price_1) -> error -> '$'숫자로 변경이 불가능하기 때문에

In [33]:
price_1.lstrip('$')

'10.00'

In [34]:
float(price_1.lstrip('$'))

10.0

In [32]:
#'$'를 제거하고 숫자로 변경
float(price_1.lstrip('$')) + float(price_2.lstrip('$'))

30.0

In [35]:
price_3 = "1,000원"
price_4 = "3,000원"

In [41]:
#문자열 마지막의 '원'을 제거
price_3.rstrip('원')# ',' 때문에 error

'1,000'

In [45]:
#strip() 함수는 문자의 시작과 끝의 데이터를 제거하는 용도
#문자열 사이에 있는 문자를 변경 X
# replace() : 특정문자를 치환 -> 문자를 변경, 문자를 제거 (문자를 대체하는 것)
# replace('특정문자','변경문자')
int(price_3.replace(',','').rstrip('원'))

1000

In [46]:
item_1 = '상품A'
item_2 = '상품a'
item_3 = '상 품 a'

In [ ]:
(item_1 == item_2) and (item_2 == item_3) #and 두개가 참일때만 True

False

In [49]:
#item_1을 기준으로 item_2, item_3의 데이터를 변경
#item_2 -> 소문자를 대문자로 변경
item_2 = item_2.upper()

In [51]:
#item_3 -> 문자열 사이에 존재하는 공백을 제거 -> 문자열을 대문자로 변경
item_3 = item_3.upper()

In [53]:
item_3 = item_3.replace(' ','') #한칸 띄우는 것 공백, 공백없는 것 빈칸 없애는 방법

In [54]:
(item_1 == item_2) and (item_2 == item_3)

True

In [ ]:
#문자열을 나눠주는 함수 -> split()
#공백을 기준으로 문자를 나눠주는 함수 -> 인자로 특정 문자를 입력하면 특정 문자로 문자를 나눠준다

text_1 = 'a b c d'
text_1.split() #결과가 리스트로 나옴

['a', 'b', 'c', 'd']

In [56]:
text_2 = 'ammbmmc'
text_2.split('mm')

['a', 'b', 'c']

In [58]:
#sql query문
#query_3이 제일 많이 쓰는 방법

query_1 = "select * from table"
query_2 = "SELECT * FROM table"
query_3 = """   
    INSERT INTO
    table
    VALUES
    ('a')
"""

query_4 = """
    select
    *
    from
    table
"""

In [59]:
#query가 select문인가??
find_word = 'select'

query_1[ 0 : len(find_word) ]

'select'

In [ ]:
query_2[ : len(find_word)] == find_word

False

In [62]:
query_2[ : len(find_word)].lower() == find_word

True

In [ ]:
query_4[ : len(find_word) ]   # 출력결과에선 빈 부분 -> 공백임

'\n    s'

In [67]:
query_4.lstrip()[ : len(find_word) ] == find_word

True

In [71]:
query_1.split()[0] == find_word

True

In [73]:
query_4.split()[0]

'select'

In [76]:
query_2.split()[0].lower()

'select'

In [77]:
query_1.startswith(find_word)

True

In [81]:
query_2.lower().startswith(find_word)

True

In [ ]:
query_2.lower().startswith(find_word)

True

In [83]:

query_3.lstrip().startswith(find_word)

False

In [84]:
file_list = [
    "/csv/a.csv",
    "/csv/b.txt",
    "/csv/c.csv",
    "/csv/d.json"
]

In [85]:
#file_list에서 확장자가 csv인 목록만 출력하자
file_list[1].endswith('csv')

False

In [86]:
#반복문을 이용하여 file_lsit에서 csv 확장인 파일만 새로운 목록을 만든다.
#비어있는 리스트를 생성
csv_list = []

#for문 list의 원소를 확인
#방법 1

for i in range(len(file_list)):
    #i에 들어오는 데이터의 의미 : index
    #fiel_list에 i번째 항목이 csv로 끝나는가?
    if file_list[i].endswith('csv'):
        #확장자가 csv인 경우 실행되는 부분
        csv_list.append(file_list[i])

print(csv_list)



#for i in file_list : 
    #i에 들어오는 데이터의 의미 : file_list의 원소
    #if i.endswith('csv'):
        #csv_list.append(i)

['/csv/a.csv', '/csv/c.csv']

In [87]:
#함수
#특정한 행동을 코드로 표현하고 이름을 붙이는 작업
#특정 입력값을 통해서 연산을 하고 결과를 되돌려주는 작업
#python에서 def 키워드를 이용해서 함수를 생성
def func_1() : 
    #결과를 되돌려준다
    return 'Hello'

def func_2() :
    print('Hello')

In [ ]:
#함수 호출
#return과 print의 차이를 확인하기위해
#값이 변수에 저장되어 있냐 없냐에 따라 다름
#return을 해줘야 output(결과)이 생김
#input이 있으려면 매개변수가 있어야함
#print는 코드의 확인용
func_1()

'Hello'

In [89]:
func_2()

Hello

In [91]:
res_1 = func_1()

In [92]:
res_2 = func_2()

Hello

In [93]:
res_1

'Hello'

In [94]:
res_2

In [ ]:
#매개변수가 존재하지 않는 함수에 입력값을 사용해서 호출한다면?
#입력값을 저장할 수 있는 공간이 존재하지 않기때문에 에러가 발생
func_1('a')

TypeError: func_1() takes 0 positional arguments but 1 was given

In [97]:
#매개변수가 존재하는 함수 생성

def func_3(a,b):
    c = a + b
    return c

In [98]:
func_3(10,5)
#a=10
#b=5
#c=10+5
#c를 되돌려준다.

15

In [100]:
#매개변수가 2개인 함수를 호출하면서 인자를 1개만 입력하는경우??
#데이터가 입력되는 공간이 2개인데 데이터는 1개만 입력하면, 
# 나머지 하나의 공간에 데이터가 없으므로 에러

#func_3(10)

In [ ]:
#print() : 입력 데이터를 출력하는 기능
#  * ->  인자의 개수가 가변일때 
#sep 매개변수에 입력 데이터를 대입하려면 매개변수명 = data
#첫번째 매개변수가 가변의 인자를 받는 형태이기때문에
print('a','b','c',sep = '\n')

a
b
c

In [107]:
def func_4(a,b=5):
    #매개변수는 2개 a,b
    #   a는 함수를 호출할때 필수 입력 공간
    #   b는 선택 입력 공간 (입력값을 넣고싶으면 넣고, 아닐땐 기본값 5 사용)

    c = a ** b
    return c

In [ ]:
func_4(2)
# a = 2
# b = 5
# c = 2 ** 5
# 32를 되돌려준다.

32

In [ ]:
func_4(2,4) 
# a=2
# b=5
# b=4 -> b = 5에서 4로 변경시킴
# c= 2 ** 4
# 16을 되돌려준다.

### 변수의 종류

- 컴퓨터의 메모리에 데이터가 저장되는 공간에 이름을 붙이는 작업

    -전역 변수
        - 전역의 의미 -> 모든 영역
        - 해당하는 파일 안에서 어디서든 사용이 가능한 변수
        - globals() 함수를 호출하면 전역 변수의 목록이 확인 가능

    - 지역 변수
        - 지역의 의미 -> 특정 영역
        - 함수나 클래스 안에서만 사용이 가능한 변수
        - 함수에서 값을 되돌려주는 행동(return) 뒤에는 함수에서 사용된 변수들은 외부에서는 사용이 불가능

In [109]:
# 모든 영역에서 사용할 수 있는 변수의 목록 확인
globals()

{'__name__': '__main__',
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['',
  "text_a = 'Apple'\ntext_b = 'apple'",
  'text_a == text_b',
  'text_b.title()',
  'text_a == text_b',
  '# text_a와 text_b를 비교했을때 같다 라는 결과를 만들려면\n# 두개의 데이터의 형태를 같게 만든다.\ntext_a.upper()',
  'text_b = text_b.upper()',
  'text_a == text_b',
  "# text_a와 text_b를 비교했을때 같다 라는 결과를 만들려면\n# 두개의 데이터의 형태를 같게 만든다.\ntext_a.upper() # ex) str.upper() -> . 의 의미 : 문자열(str) 안에있는 upper()라는 함수를 호출한다.\n               # 출력이 나온다는 의미 : text_a의 기본값 'Apple'은 바뀌지 않음 , \n               # 기본값도 'APPLE'로 바꾸려면 text_a = text_a.upper() ,\n               # text_a에 다시 저장하는 과정",
  'text_a = text_a.upper()',
  'text_b = text_b.upper()',
  'text_a == text_b',
  'text_c = "Hello world"',
  '#lower\ntext_c.lower()',
  '#swapcase()\ntext_c.swapcase()',
  'text_c.title()',
  'text_c = " Hello world "',
  '#lower\ntext_c.lower()',
  '#swapcase()\ntext_c.swapcase()',
  'text_c.title()',
  '#좌우의 공백을 제거하는 함수\ntext_c == "Hello world"',
  'text_c.strip()',
  'text_c.rstrip()',
  'text_c.lstrip()',
  'print(text_c.lstrip())\nprint(text_c.rstrip())',
  'print(text_c.lstrip())\nprint(text_c.strip())',
  "#문자열을 숫자열로 변환\n#금액을 숫자로 변경하여 계산\nprice_1 = '$10.00'\nprice_2 = '$20.00'",
  'price_1 + price_2',
  'float(price_1)',
  "#float(price_1) -> error -> '$'숫자로 변경이 불가능하기 때문에",
  "#'$'를 제거하고 숫자로 변경\nprice_1.lstrip('$')",
  "#'$'를 제거하고 숫자로 변경\nfloat(price_1.lstrip('$'))",
  "#'$'를 제거하고 숫자로 변경\nfloat(price_1.lstrip('$')) + float(price_2.lstrip('$'))",
  "price_1.lstrip('$')",
  "float(price_1.lstrip('$'))",
  'price_3 = "1,000원"\nprice_4 = "3,000원"',
  "#문자열 마지막의 '원'을 제거\nint(price_3.rstrip('원'))",
  "#strip() 함수는 문자의 시작과 끝의 데이터를 제거하는 용도\n#문자열 사이에 있는 문자를 변경 X\n# replace() : 특정문자를 치환 -> 문자를 변경, 문자를 제거 (문자를 대체하는 것)\n# replace('특정문자','변경문자')\nprice_3.replace(',',',')",
  "#문자열 마지막의 '원'을 제거\nint(price_3.rstrip('원')) # ',' 때문에 error",
  "#strip() 함수는 문자의 시작과 끝의 데이터를 제거하는 용도\n#문자열 사이에 있는 문자를 변경 X\n# replace() : 특정문자를 치환 -> 문자를 변경, 문자를 제거 (문자를 대체하는 것)\n# replace('특정문자','변경문자')\nprice_3.replace(',',',')",
  "#문자열 마지막의 '원'을 제거\niprice_3.rstrip('원')# ',' 때문에 error",
  "#문자열 마지막의 '원'을 제거\nprice_3.rstrip('원')# ',' 때문에 error",
  "#strip() 함수는 문자의 시작과 끝의 데이터를 제거하는 용도\n#문자열 사이에 있는 문자를 변경 X\n# replace() : 특정문자를 치환 -> 문자를 변경, 문자를 제거 (문자를 대체하는 것)\n# replace('특정문자','변경문자')\nprice_3.replace(',',',')",
  "#strip() 함수는 문자의 시작과 끝의 데이터를 제거하는 용도\n#문자열 사이에 있는 문자를 변경 X\n# replace() : 특정문자를 치환 -> 문자를 변경, 문자를 제거 (문자를 대체하는 것)\n# replace('특정문자','변경문자')\nprice_3.replace(',','')",
  "#strip() 함수는 문자의 시작과 끝의 데이터를 제거하는 용도\n#문자열 사이에 있는 문자를 변경 X\n# replace() : 특정문자를 치환 -> 문자를 변경, 문자를 제거 (문자를 대체하는 것)\n# replace('특정문자','변경문자')\nprice_3.replace(',','').rstrip('원')",
  "#strip() 함수는 문자의 시작과 끝의 데이터를 제거하는 용도\n#문자열 사이에 있는 문자를 변경 X\n# replace() : 특정문자를 치환 -> 문자를 변경, 문자를 제거 (문자를 대체하는 것)\n# replace('특정문자','변경문자')\nint(price_3.replace(',','').rstrip('원'))",
  "item_1 = '상품A'\nitem_2 = '상품a'\nitem_3 = '상 품 a'",
  '(item_1 == item_2) and (item_2 == item_3)',
  '#item_1을 기준으로 item_2, item_3의 데이터를 변경\n#item_2 -> 소문자를 대문자로 변경\nitem_2.upper()',
  '#item_1을 기준으로 item_2, item_3의 데이터를 변경\n#item_2 -> 소문자를 대문자로 변경\nitem_2 = item_2.upper()',
  '#item_3 -> 문자열 사이에 존재하는 공백을 제거 -> 문자열을 대문자로 변경\nitem_3.upper()',
  '#item_3 -> 문자열 사이에 존재하는 공백을 제거 -> 문자열을 대문자로 변경\nitem_3 = item_3.upper()',
  "item_3.replace(' ','')",
  "item_3 = item_3.replace(' ','') #한칸 띄우는 것 공백, 공백없는 것 빈칸 없애는 방법",
  '(item_1 == item_2) and (item_2 == item_3)',
  "#문자열을 나눠주는 함수 -> split()\n#공백을 기준으로 문자를 나눠주는 함수 -> 인자로 특정 문자를 입력하면 특정 문자로 문자를 나눠준다\n\ntext_1 = 'a b c d'\ntext_1.split()",
  "text_2 = 'ammbmmc'\ntext_2.split('mm')",
  "#query가 select문인가??\nfind_word = 'select'\n\nquery_1[ 0 : len(find_word) ]",
  '#sql query문\n#query_3이 제일 많이 쓰는 방법\n\nquery_1 = "select * from table"\nquery_2 = "SELECT * FROM table"\nquery_3 = """   \n    INSERT INTO\n    table\n    VALUES\n    (\'a\')\n"""\n\nquery_4 = """\n    select\n    *\n    from\n    table\n"""',
  "#query가 select문인가??\nfind_word = 'select'\n\nquery_1[ 0 : len(find_word) ]",
  'query_2[ : len(find_word)  == find_word]',
  'query_2[ : len(find_word)] == find_word',
  'query_2[ : len(find_word)].lower() == find_word',
  'query_4[ : len(find_word) ]   ',
  'query_4.lstrip[ : len(find_word)] == find_word',
  'query_4.lstrip[ : len(find_word) ] == find_word',
  'query_4.lstrip([ : len(find_word) ] == find_word',
  'query_4.lstrip()[ : len(find_word) ] == find_word',
  'query_1.split()',
  'query_1.split()[0]',
  'query_1.split()[0] == find_wprd',
  'query_1.split()[0] == find_word',
  'query_4.split()',
  'query_4.split()[0]',
  'query_2.split()',
  'query_2.split().loser()',
  'query_2.split()[0].lower()',
  'query_1.startswith(find_word)',
  'query_2.loawer(find_word)',
  'query_2.lower(find_word)',
  'query_2.lower()(find_word)',
  'query_2.lower().startswith(find_word)',
  'query_4.lstrip().startswith(find_word)',
  'query_3.lstrip().startswith(find_word)',
  'file_list = [\n    "/csv/a.csv",\n    "/csv/b.txt",\n    "/csv/c.csv",\n    "/csv/d.json"\n]',
  "#file_list에서 확장자가 csv인 목록만 출력하자\nfile_list[1].endswith('csv')",
  "#반복문을 이용하여 file_lsit에서 csv 확장인 파일만 새로운 목록을 만든다.\n#비어있는 리스트를 생성\ncsv_list = []\n\n#for문 list의 원소를 확인\n#방법 1\n\nfor i in range(len(file_list)):\n    #i에 들어오는 데이터의 의미 : index\n    #fiel_list에 i번째 항목이 csv로 끝나는가?\n    if file_list[i].endswith('csv'):\n        #확장자가 csv인 경우 실행되는 부분\n        csv_list.append(file_list[i])\n\nprint(csv_list)\n\n\n\n#for i in file_list : \n    #i에 들어오는 데이터의 의미 : file_list의 원소\n    #if i.endswith('csv'):\n        #csv_list.append(i)",
  "#함수\n#특정한 행동을 코드로 표현하고 이름을 붙이는 작업\n#특정 입력값을 통해서 연산을 하고 결과를 되돌려주는 작업\n#python에서 def 키워드를 이용해서 함수를 생성\ndef func_1() : \n    #결과를 되돌려준다\n    return 'Hello'\n\ndef func_2() :\n    print('Hello')",
  '#함수 호출\nfunc_1()',
  'func_2()',
  'res_1 = func_1',
  'res_1 = func_1()',
  'res_2 = func_2()',
  'res_1',
  'res_2',
  "#매개변수가 존재하지 않는 함수에 입력값을 사용해서 호출한다면?\nfunc_1('a')",
  'func_3(10,5)\n#a=10\n#b=5\n#c=10+5\n#c를 되돌려준다.',
  '#매개변수가 존재하는 함수 생성\n\ndef func_3(a,b):\n    c = a + b\n    return c',
  'func_3(10,5)\n#a=10\n#b=5\n#c=10+5\n#c를 되돌려준다.',
  '#매개변수가 2개인 함수를 호출하면서 인자를 1개만 입력하는경우??\nfunc_3(10)',
  '#매개변수가 2개인 함수를 호출하면서 인자를 1개만 입력하는경우??\n#데이터가 입력되는 공간이 2개인데 데이터는 1개만 입력하면, \n# 나머지 하나의 공간에 데이터가 없으므로 에러\n\n#func_3(10)',
  "#print() : 입력 데이터를 출력하는 기능\nprint('a')",
  "#print() : 입력 데이터를 출력하는 기능\n#  * ->  인자의 개수가 가변일때 \nprint('a')\n\nprint('a','b','c')",
  "#print() : 입력 데이터를 출력하는 기능\n#  * ->  인자의 개수가 가변일때 \nprint('a')\n\nprint('a','b','c','/n')",
  "#print() : 입력 데이터를 출력하는 기능\n#  * ->  인자의 개수가 가변일때 \nprint('a')\n\nprint('a','b','c','\\n')",
  "#print() : 입력 데이터를 출력하는 기능\n#  * ->  인자의 개수가 가변일때 \nprint('a')\n\nprint('a','b','c',sep = '\\n')",
  "#print() : 입력 데이터를 출력하는 기능\n#  * ->  인자의 개수가 가변일때 \nprint('a','b','c',sep = '\\n')",
  'def func_4(a,b=5):\n    #매개변수는 2개 a,b\n    #   a는 함수를 호출할때 필수 입력 공간\n    #   b는 선택 입력 공간 (입력값을 넣고싶으면 넣고, 아닐땐 기본값 5 사용)\n\n    c = a ** b\n    return c',
  'func_4(2)\n# a = 2\n# b = 5\n# c = 2 ** 5\n#32를 되돌려준다.',
  '# 모든 영역에서 사용할 수 있는 변수의 목록 확인\nglobals()'],
 '_oh': {2: False,
  3: 'Apple',
  4: False,
  5: 'APPLE',
  7: False,
  8: 'APPLE',
  11: True,
  13: 'hello world',
  14: 'hELLO WORLD',
  15: 'Hello World',
  17: ' hello world ',
  18: ' hELLO WORLD ',
  19: ' Hello World ',
  20: False,
  21: 'Hello world',
  22: ' Hello world',
  23: 'Hello world ',
  27: '$10.00$20.00',
  30: '10.00',
  31: 10.0,
  32: 30.0,
  33: '10.00',
  34: 10.0,
  37: '1,000원',
  39: '1,000원',
  41: '1,000',
  42: '1,000원',
  43: '1000원',
  44: '1000',
  45: 1000,
  47: False,
  48: '상품A',
  50: '상 품 A',
  52: '상품A',
  54: True,
  55: ['a', 'b', 'c', 'd'],
  56: ['a', 'b', 'c'],
  59: 'select',
  60: '',
  61: False,
  62: True,
  63: '\n    s',
  67: True,
  68: ['select', '*', 'from', 'table'],
  69: 'select',
  71: True,
  72: ['select', '*', 'from', 'table'],
  73: 'select',
  74: ['SELECT', '*', 'FROM', 'table'],
  76: 'select',
  77: True,
  81: True,
  82: True,
  83: False,
  85: False,
  88: 'Hello',
  93: 'Hello',
  98: 15,
  108: 32},
 '_dh': [WindowsPath('c:/python/250828')],
 'In': ['',
  "text_a = 'Apple'\ntext_b = 'apple'",
  'text_a == text_b',
  'text_b.title()',
  'text_a == text_b',
  '# text_a와 text_b를 비교했을때 같다 라는 결과를 만들려면\n# 두개의 데이터의 형태를 같게 만든다.\ntext_a.upper()',
  'text_b = text_b.upper()',
  'text_a == text_b',
  "# text_a와 text_b를 비교했을때 같다 라는 결과를 만들려면\n# 두개의 데이터의 형태를 같게 만든다.\ntext_a.upper() # ex) str.upper() -> . 의 의미 : 문자열(str) 안에있는 upper()라는 함수를 호출한다.\n               # 출력이 나온다는 의미 : text_a의 기본값 'Apple'은 바뀌지 않음 , \n               # 기본값도 'APPLE'로 바꾸려면 text_a = text_a.upper() ,\n               # text_a에 다시 저장하는 과정",
  'text_a = text_a.upper()',
  'text_b = text_b.upper()',
  'text_a == text_b',
  'text_c = "Hello world"',
  '#lower\ntext_c.lower()',
  '#swapcase()\ntext_c.swapcase()',
  'text_c.title()',
  'text_c = " Hello world "',
  '#lower\ntext_c.lower()',
  '#swapcase()\ntext_c.swapcase()',
  'text_c.title()',
  '#좌우의 공백을 제거하는 함수\ntext_c == "Hello world"',
  'text_c.strip()',
  'text_c.rstrip()',
  'text_c.lstrip()',
  'print(text_c.lstrip())\nprint(text_c.rstrip())',
  'print(text_c.lstrip())\nprint(text_c.strip())',
  "#문자열을 숫자열로 변환\n#금액을 숫자로 변경하여 계산\nprice_1 = '$10.00'\nprice_2 = '$20.00'",
  'price_1 + price_2',
  'float(price_1)',
  "#float(price_1) -> error -> '$'숫자로 변경이 불가능하기 때문에",
  "#'$'를 제거하고 숫자로 변경\nprice_1.lstrip('$')",
  "#'$'를 제거하고 숫자로 변경\nfloat(price_1.lstrip('$'))",
  "#'$'를 제거하고 숫자로 변경\nfloat(price_1.lstrip('$')) + float(price_2.lstrip('$'))",
  "price_1.lstrip('$')",
  "float(price_1.lstrip('$'))",
  'price_3 = "1,000원"\nprice_4 = "3,000원"',
  "#문자열 마지막의 '원'을 제거\nint(price_3.rstrip('원'))",
  "#strip() 함수는 문자의 시작과 끝의 데이터를 제거하는 용도\n#문자열 사이에 있는 문자를 변경 X\n# replace() : 특정문자를 치환 -> 문자를 변경, 문자를 제거 (문자를 대체하는 것)\n# replace('특정문자','변경문자')\nprice_3.replace(',',',')",
  "#문자열 마지막의 '원'을 제거\nint(price_3.rstrip('원')) # ',' 때문에 error",
  "#strip() 함수는 문자의 시작과 끝의 데이터를 제거하는 용도\n#문자열 사이에 있는 문자를 변경 X\n# replace() : 특정문자를 치환 -> 문자를 변경, 문자를 제거 (문자를 대체하는 것)\n# replace('특정문자','변경문자')\nprice_3.replace(',',',')",
  "#문자열 마지막의 '원'을 제거\niprice_3.rstrip('원')# ',' 때문에 error",
  "#문자열 마지막의 '원'을 제거\nprice_3.rstrip('원')# ',' 때문에 error",
  "#strip() 함수는 문자의 시작과 끝의 데이터를 제거하는 용도\n#문자열 사이에 있는 문자를 변경 X\n# replace() : 특정문자를 치환 -> 문자를 변경, 문자를 제거 (문자를 대체하는 것)\n# replace('특정문자','변경문자')\nprice_3.replace(',',',')",
  "#strip() 함수는 문자의 시작과 끝의 데이터를 제거하는 용도\n#문자열 사이에 있는 문자를 변경 X\n# replace() : 특정문자를 치환 -> 문자를 변경, 문자를 제거 (문자를 대체하는 것)\n# replace('특정문자','변경문자')\nprice_3.replace(',','')",
  "#strip() 함수는 문자의 시작과 끝의 데이터를 제거하는 용도\n#문자열 사이에 있는 문자를 변경 X\n# replace() : 특정문자를 치환 -> 문자를 변경, 문자를 제거 (문자를 대체하는 것)\n# replace('특정문자','변경문자')\nprice_3.replace(',','').rstrip('원')",
  "#strip() 함수는 문자의 시작과 끝의 데이터를 제거하는 용도\n#문자열 사이에 있는 문자를 변경 X\n# replace() : 특정문자를 치환 -> 문자를 변경, 문자를 제거 (문자를 대체하는 것)\n# replace('특정문자','변경문자')\nint(price_3.replace(',','').rstrip('원'))",
  "item_1 = '상품A'\nitem_2 = '상품a'\nitem_3 = '상 품 a'",
  '(item_1 == item_2) and (item_2 == item_3)',
  '#item_1을 기준으로 item_2, item_3의 데이터를 변경\n#item_2 -> 소문자를 대문자로 변경\nitem_2.upper()',
  '#item_1을 기준으로 item_2, item_3의 데이터를 변경\n#item_2 -> 소문자를 대문자로 변경\nitem_2 = item_2.upper()',
  '#item_3 -> 문자열 사이에 존재하는 공백을 제거 -> 문자열을 대문자로 변경\nitem_3.upper()',
  '#item_3 -> 문자열 사이에 존재하는 공백을 제거 -> 문자열을 대문자로 변경\nitem_3 = item_3.upper()',
  "item_3.replace(' ','')",
  "item_3 = item_3.replace(' ','') #한칸 띄우는 것 공백, 공백없는 것 빈칸 없애는 방법",
  '(item_1 == item_2) and (item_2 == item_3)',
  "#문자열을 나눠주는 함수 -> split()\n#공백을 기준으로 문자를 나눠주는 함수 -> 인자로 특정 문자를 입력하면 특정 문자로 문자를 나눠준다\n\ntext_1 = 'a b c d'\ntext_1.split()",
  "text_2 = 'ammbmmc'\ntext_2.split('mm')",
  "#query가 select문인가??\nfind_word = 'select'\n\nquery_1[ 0 : len(find_word) ]",
  '#sql query문\n#query_3이 제일 많이 쓰는 방법\n\nquery_1 = "select * from table"\nquery_2 = "SELECT * FROM table"\nquery_3 = """   \n    INSERT INTO\n    table\n    VALUES\n    (\'a\')\n"""\n\nquery_4 = """\n    select\n    *\n    from\n    table\n"""',
  "#query가 select문인가??\nfind_word = 'select'\n\nquery_1[ 0 : len(find_word) ]",
  'query_2[ : len(find_word)  == find_word]',
  'query_2[ : len(find_word)] == find_word',
  'query_2[ : len(find_word)].lower() == find_word',
  'query_4[ : len(find_word) ]   ',
  'query_4.lstrip[ : len(find_word)] == find_word',
  'query_4.lstrip[ : len(find_word) ] == find_word',
  'query_4.lstrip([ : len(find_word) ] == find_word',
  'query_4.lstrip()[ : len(find_word) ] == find_word',
  'query_1.split()',
  'query_1.split()[0]',
  'query_1.split()[0] == find_wprd',
  'query_1.split()[0] == find_word',
  'query_4.split()',
  'query_4.split()[0]',
  'query_2.split()',
  'query_2.split().loser()',
  'query_2.split()[0].lower()',
  'query_1.startswith(find_word)',
  'query_2.loawer(find_word)',
  'query_2.lower(find_word)',
  'query_2.lower()(find_word)',
  'query_2.lower().startswith(find_word)',
  'query_4.lstrip().startswith(find_word)',
  'query_3.lstrip().startswith(find_word)',
  'file_list = [\n    "/csv/a.csv",\n    "/csv/b.txt",\n    "/csv/c.csv",\n    "/csv/d.json"\n]',
  "#file_list에서 확장자가 csv인 목록만 출력하자\nfile_list[1].endswith('csv')",
  "#반복문을 이용하여 file_lsit에서 csv 확장인 파일만 새로운 목록을 만든다.\n#비어있는 리스트를 생성\ncsv_list = []\n\n#for문 list의 원소를 확인\n#방법 1\n\nfor i in range(len(file_list)):\n    #i에 들어오는 데이터의 의미 : index\n    #fiel_list에 i번째 항목이 csv로 끝나는가?\n    if file_list[i].endswith('csv'):\n        #확장자가 csv인 경우 실행되는 부분\n        csv_list.append(file_list[i])\n\nprint(csv_list)\n\n\n\n#for i in file_list : \n    #i에 들어오는 데이터의 의미 : file_list의 원소\n    #if i.endswith('csv'):\n        #csv_list.append(i)",
  "#함수\n#특정한 행동을 코드로 표현하고 이름을 붙이는 작업\n#특정 입력값을 통해서 연산을 하고 결과를 되돌려주는 작업\n#python에서 def 키워드를 이용해서 함수를 생성\ndef func_1() : \n    #결과를 되돌려준다\n    return 'Hello'\n\ndef func_2() :\n    print('Hello')",
  '#함수 호출\nfunc_1()',
  'func_2()',
  'res_1 = func_1',
  'res_1 = func_1()',
  'res_2 = func_2()',
  'res_1',
  'res_2',
  "#매개변수가 존재하지 않는 함수에 입력값을 사용해서 호출한다면?\nfunc_1('a')",
  'func_3(10,5)\n#a=10\n#b=5\n#c=10+5\n#c를 되돌려준다.',
  '#매개변수가 존재하는 함수 생성\n\ndef func_3(a,b):\n    c = a + b\n    return c',
  'func_3(10,5)\n#a=10\n#b=5\n#c=10+5\n#c를 되돌려준다.',
  '#매개변수가 2개인 함수를 호출하면서 인자를 1개만 입력하는경우??\nfunc_3(10)',
  '#매개변수가 2개인 함수를 호출하면서 인자를 1개만 입력하는경우??\n#데이터가 입력되는 공간이 2개인데 데이터는 1개만 입력하면, \n# 나머지 하나의 공간에 데이터가 없으므로 에러\n\n#func_3(10)',
  "#print() : 입력 데이터를 출력하는 기능\nprint('a')",
  "#print() : 입력 데이터를 출력하는 기능\n#  * ->  인자의 개수가 가변일때 \nprint('a')\n\nprint('a','b','c')",
  "#print() : 입력 데이터를 출력하는 기능\n#  * ->  인자의 개수가 가변일때 \nprint('a')\n\nprint('a','b','c','/n')",
  "#print() : 입력 데이터를 출력하는 기능\n#  * ->  인자의 개수가 가변일때 \nprint('a')\n\nprint('a','b','c','\\n')",
  "#print() : 입력 데이터를 출력하는 기능\n#  * ->  인자의 개수가 가변일때 \nprint('a')\n\nprint('a','b','c',sep = '\\n')",
  "#print() : 입력 데이터를 출력하는 기능\n#  * ->  인자의 개수가 가변일때 \nprint('a','b','c',sep = '\\n')",
  'def func_4(a,b=5):\n    #매개변수는 2개 a,b\n    #   a는 함수를 호출할때 필수 입력 공간\n    #   b는 선택 입력 공간 (입력값을 넣고싶으면 넣고, 아닐땐 기본값 5 사용)\n\n    c = a ** b\n    return c',
  'func_4(2)\n# a = 2\n# b = 5\n# c = 2 ** 5\n#32를 되돌려준다.',
  '# 모든 영역에서 사용할 수 있는 변수의 목록 확인\nglobals()'],
 'Out': {2: False,
  3: 'Apple',
  4: False,
  5: 'APPLE',
  7: False,
  8: 'APPLE',
  11: True,
  13: 'hello world',
  14: 'hELLO WORLD',
  15: 'Hello World',
  17: ' hello world ',
  18: ' hELLO WORLD ',
  19: ' Hello World ',
  20: False,
  21: 'Hello world',
  22: ' Hello world',
  23: 'Hello world ',
  27: '$10.00$20.00',
  30: '10.00',
  31: 10.0,
  32: 30.0,
  33: '10.00',
  34: 10.0,
  37: '1,000원',
  39: '1,000원',
  41: '1,000',
  42: '1,000원',
  43: '1000원',
  44: '1000',
  45: 1000,
  47: False,
  48: '상품A',
  50: '상 품 A',
  52: '상품A',
  54: True,
  55: ['a', 'b', 'c', 'd'],
  56: ['a', 'b', 'c'],
  59: 'select',
  60: '',
  61: False,
  62: True,
  63: '\n    s',
  67: True,
  68: ['select', '*', 'from', 'table'],
  69: 'select',
  71: True,
  72: ['select', '*', 'from', 'table'],
  73: 'select',
  74: ['SELECT', '*', 'FROM', 'table'],
  76: 'select',
  77: True,
  81: True,
  82: True,
  83: False,
  85: False,
  88: 'Hello',
  93: 'Hello',
  98: 15,
  108: 32},
 'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x0000025D96533380>>,
 'exit': <IPython.core.autocall.ZMQExitAutocall at 0x25d965ccc20>,
 'quit': <IPython.core.autocall.ZMQExitAutocall at 0x25d965ccc20>,
 'open': <function _io.open(file, mode='r', buffering=-1, encoding=None, errors=None, newline=None, closefd=True, opener=None)>,
 '_': 32,
 '__': 15,
 '___': 'Hello',
 '__vsc_ipynb_file__': 'c:\\python\\250828\\03_base.ipynb',
 '_i': 'func_4(2)\n# a = 2\n# b = 5\n# c = 2 ** 5\n#32를 되돌려준다.',
 '_ii': 'def func_4(a,b=5):\n    #매개변수는 2개 a,b\n    #   a는 함수를 호출할때 필수 입력 공간\n    #   b는 선택 입력 공간 (입력값을 넣고싶으면 넣고, 아닐땐 기본값 5 사용)\n\n    c = a ** b\n    return c',
 '_iii': "#print() : 입력 데이터를 출력하는 기능\n#  * ->  인자의 개수가 가변일때 \nprint('a','b','c',sep = '\\n')",
 '_i1': "text_a = 'Apple'\ntext_b = 'apple'",
 'text_a': 'APPLE',
 'text_b': 'APPLE',
 '_i2': 'text_a == text_b',
 '_2': False,
 '_i3': 'text_b.title()',
 '_3': 'Apple',
 '_i4': 'text_a == text_b',
 '_4': False,
 '_i5': '# text_a와 text_b를 비교했을때 같다 라는 결과를 만들려면\n# 두개의 데이터의 형태를 같게 만든다.\ntext_a.upper()',
 '_5': 'APPLE',
 '_i6': 'text_b = text_b.upper()',
 '_i7': 'text_a == text_b',
 '_7': False,
 '_i8': "# text_a와 text_b를 비교했을때 같다 라는 결과를 만들려면\n# 두개의 데이터의 형태를 같게 만든다.\ntext_a.upper() # ex) str.upper() -> . 의 의미 : 문자열(str) 안에있는 upper()라는 함수를 호출한다.\n               # 출력이 나온다는 의미 : text_a의 기본값 'Apple'은 바뀌지 않음 , \n               # 기본값도 'APPLE'로 바꾸려면 text_a = text_a.upper() ,\n               # text_a에 다시 저장하는 과정",
 '_8': 'APPLE',
 '_i9': 'text_a = text_a.upper()',
 '_i10': 'text_b = text_b.upper()',
 '_i11': 'text_a == text_b',
 '_11': True,
 '_i12': 'text_c = "Hello world"',
 'text_c': ' Hello world ',
 '_i13': '#lower\ntext_c.lower()',
 '_13': 'hello world',
 '_i14': '#swapcase()\ntext_c.swapcase()',
 '_14': 'hELLO WORLD',
 '_i15': 'text_c.title()',
 '_15': 'Hello World',
 '_i16': 'text_c = " Hello world "',
 '_i17': '#lower\ntext_c.lower()',
 '_17': ' hello world ',
 '_i18': '#swapcase()\ntext_c.swapcase()',
 '_18': ' hELLO WORLD ',
 '_i19': 'text_c.title()',
 '_19': ' Hello World ',
 '_i20': '#좌우의 공백을 제거하는 함수\ntext_c == "Hello world"',
 '_20': False,
 '_i21': 'text_c.strip()',
 '_21': 'Hello world',
 '_i22': 'text_c.rstrip()',
 '_22': ' Hello world',
 '_i23': 'text_c.lstrip()',
 '_23': 'Hello world ',
 '_i24': 'print(text_c.lstrip())\nprint(text_c.rstrip())',
 '_i25': 'print(text_c.lstrip())\nprint(text_c.strip())',
 '_i26': "#문자열을 숫자열로 변환\n#금액을 숫자로 변경하여 계산\nprice_1 = '$10.00'\nprice_2 = '$20.00'",
 'price_1': '$10.00',
 'price_2': '$20.00',
 '_i27': 'price_1 + price_2',
 '_27': '$10.00$20.00',
 '_i28': 'float(price_1)',
 '_i29': "#float(price_1) -> error -> '$'숫자로 변경이 불가능하기 때문에",
 '_i30': "#'$'를 제거하고 숫자로 변경\nprice_1.lstrip('$')",
 '_30': '10.00',
 '_i31': "#'$'를 제거하고 숫자로 변경\nfloat(price_1.lstrip('$'))",
 '_31': 10.0,
 '_i32': "#'$'를 제거하고 숫자로 변경\nfloat(price_1.lstrip('$')) + float(price_2.lstrip('$'))",
 '_32': 30.0,
 '_i33': "price_1.lstrip('$')",
 '_33': '10.00',
 '_i34': "float(price_1.lstrip('$'))",
 '_34': 10.0,
 '_i35': 'price_3 = "1,000원"\nprice_4 = "3,000원"',
 'price_3': '1,000원',
 'price_4': '3,000원',
 '_i36': "#문자열 마지막의 '원'을 제거\nint(price_3.rstrip('원'))",
 '_i37': "#strip() 함수는 문자의 시작과 끝의 데이터를 제거하는 용도\n#문자열 사이에 있는 문자를 변경 X\n# replace() : 특정문자를 치환 -> 문자를 변경, 문자를 제거 (문자를 대체하는 것)\n# replace('특정문자','변경문자')\nprice_3.replace(',',',')",
 '_37': '1,000원',
 '_i38': "#문자열 마지막의 '원'을 제거\nint(price_3.rstrip('원')) # ',' 때문에 error",
 '_i39': "#strip() 함수는 문자의 시작과 끝의 데이터를 제거하는 용도\n#문자열 사이에 있는 문자를 변경 X\n# replace() : 특정문자를 치환 -> 문자를 변경, 문자를 제거 (문자를 대체하는 것)\n# replace('특정문자','변경문자')\nprice_3.replace(',',',')",
 '_39': '1,000원',

In [110]:
text_a

'APPLE'

In [111]:
globals()['text_a']

'APPLE'

In [114]:
#반복문을 이용해서 전역변수를 생성
for i in range(3,10,2):
    #globals 함수를 이용해서 전역변수 생성
    globals()[f'a{i}' ] = i

In [115]:
a3

3

In [116]:
a5

5

In [118]:
a7

7

In [119]:
a9

9

In [121]:
#지역 변수 확인
def func_5(input_a,input_b):
    func_res = input_a + input_b
    return func_res

res_3 = func_5(20,1)

In [123]:
print(res_3)
#func_res, input_a 지역변수이므로 전역에서는 사용이 불가능
#print(func_res)
#print(input_a)

21

In [124]:
#변수 생성
a = b = c = 10
print(a,b,c)

10 10 10

In [125]:
d,e,f = 3, 'A', True
print(d,e,f)

3 A True

In [131]:
#함수에서 적용 -> return 데이터가 2개 이상인 경우
def func_6(a,b):
    c = a+b
    d = a-b
    return c,d

In [132]:
func_6(10,3)

(13, 7)

In [133]:
res_4 = func_6(10,3)
res_4

(13, 7)

In [134]:
res_5, res_6 = func_6(10,3)

In [136]:
print(res_5)
print(res_6)

13
7

In [140]:
#인자의 개수가 가변인 경우
#변수 3개 -> args, result, i
def func_7( *args ) : 
    # args의 타입? -> tuple,list,dict 중 1개, dict는 key값을 넣어야하기 때문에 안됨
    print(type(args))
    # 인자들의 누적합 구해서 되돌려주는 기능
    # 합계 초기값 지정
    result = 0
    #args의 원소의 개수만큼 반복 실행하는 반복문 생성
    for i in args:
        #i는 args의 원소들이 각각 대입
        result += i
        
    return result

In [141]:
func_7(1,2,3,4,5)

<class 'tuple'>

15

In [142]:
def func_8(args):
    result = 0
    for i in args:
        result += i
    return result

In [144]:
func_8([1,2,3,4,5])

15

In [146]:
#func_7() 함수를 호출하는데 입력 데이터가 리스트인 경우
func_7(*[1,2,3,4,5])

<class 'tuple'>

15

In [147]:
#인자의 개수가 가변인 매개변수와 개수가 1개인 매개변수가 존재하는 함수

def func_9(*args, data):
    result = 0
    # data가 1이라면 누적합을 되돌려준다
    if data == 1:
        result=0
        for i in args :
            result += i


    # data가 0이라면 누적곱을 되돌려준다
    if data == 0 :
        result = 1 #누적곱일때 초기값 무조건 1 
        for i in args :
            result += i
    return result

In [ ]:
#func_9(1,2,3,4,5, 1) #인자의개수가 여러개인 경우 구분을 못 한다 -> error, 1 -> data에 지정해야함
func_9(1,2,3,4,5, data = 1)

15

In [150]:
# 매개변수에 기본값이 설정이 되어있는 함수
def func_10(a,b = 2,c = 3):
    #매개변수는 3개 : a는 필수입력 부분 / b,c는 선택 입력 부분
    #인자의 개수가 1개, 2개, 3개 모두 호출이 가능
    
    result = (a+b) ** c
    return result

In [152]:
print(func_10(3))
print(func_10(5,1))
print(func_10(3,1,1))

125
216
4

In [153]:
#func_10에서 b매개변수는 기본값을 사용하고 c의 매개변수에는 새로운 입력값 대입
func_10(3,c = 2)

25

In [155]:
#함수를 생성시 매개변수의 기본값을 설정하려면 
# 가장 뒤의 매개변수부터 기본값을 설정
# 중간의 매개변수에만 기본값을 설정하면 에러가 발생
# def func_11(a, b=2, c):
    # result = a+b+c 
    # return result

### 연습

- 함수를 생성
    - 매개변수 2개
        - _datas : 인자의 개수가 가변인 매개변수
        - _type : 기본값이 설정 ('max')
    - _type이 'max'라면 _datas 중에 가장 큰 값을 되돌려준다
    - _type이 'min'라면 _datas 중에 가장 작은 값을 되돌려준다
    - _type이 'mean'이라면 _datas 들의 평균을 되돌려준다
    - 위에 3가지의 경우가 아니라면 "_type이 맞지 않습니다"를 되돌려준다

In [169]:
def func_11(*_datas, _type = 'max') :

    

    if _type == 'max' :
        return max(_datas)
    
    if _type == 'min' :
        return min(_datas)
    
    if _type == 'mean' :
        return sum(_data) / len(_datas)
    
    return "type이 맞지 않습니다."

In [170]:
def func_12(*_datas, _type='max'):
    
    if _type == "max":
        result = max(_datas)

    elif _type == 'min':
        result = min(_datas)
    
    elif _type == 'mean':
        result = sum(_datas) / len(_datas)
    
    else:
        result = "_type이 맞지 않습니다"

    return result

In [174]:
func_11(1,2,3,4,5) #type의 기본값이 'max'이기 때문에 결과가 5가 나옴

5

In [171]:
func_12(1,2,3,4,5, _type = 'min')

1

In [172]:
func_12(1,2,3,4,5, _type = 'mean')

3.0

In [173]:
func_12(1,2,3,4,5, _type ='sum')

'_type이 맞지 않습니다'