In [ ]:
#map() -> 1차원데이터를 각각 원소별 변환 필요할때 사용
#map(함수, 1차원 데이터)
#map()함수는 결과를 list()형태로 바꿔줘야 눈에 보임
list_a = [1,2,3,4,5]
#list_a에서 각각의 원소들에 제곱을 한 새로운 리스트를 생성해보자
#case1
#for문 이용
new_list = []
for i in list_a :
    # i는? -> list_a의 원소들의 값
    new_list.append(i ** 2)

#for i in range(len(list_a))
    # i는? -> list_a 의 위치 값 (0,1,2,3,4)
    # new_list.append(
    #     list_a[i] ** 2
    # )

print(new_list)

[1, 4, 9, 16, 25]

In [6]:
#case2
#while문 이용
#while 조건식 :
#조건식이 들어가는 부분은 bool 형태
#bool형태가 아닌 데이터가 들어오면 강제로 bool형태로 변환

print(
    bool(0),
    bool(1),
    bool(10),
    bool(-3)
)

False True True True

In [8]:
# 공백도 데이터다
print(
    bool(""),
    bool( " " ),
    bool( "asd" ),
)

False True True

In [7]:
print(
    bool( [] ),
    bool( [1] )
)

False True

In [9]:
True + True

2

In [24]:
#while 조건식
# ex_1 조건식은? -> 초기값을 지정하고 초기값이 list_a의 길이보다 작을때까지
# ex_2 조건식은? -> 무한 -> 초기값이 list_a의 길이보다 같을때 반복문 강제 종료
# ex_3          -> 에러가 발생한다면 반복문을 강제 종료

list_a = [1,2,3,4,5]

i=0
new_list = []

while (i < len(list_a)) :
    # i는? -> list_a의 위치 값

    new_list.append(list_a[i] ** 2)
    #i를 1씩 증가 -> 무한루프 방지
    i += 1  

print(new_list)

[1, 4, 9, 16, 25]

In [25]:
i=0
while True:
    
    new_list.append(
        list_a[i] ** 2
    )
    i += 1

    if i >= len(list_a) :
        break

print(new_list)

[1, 4, 9, 16, 25, 1, 4, 9, 16, 25]

In [31]:
new_list = []
i=0

while True:
    #예외처리
    try : 
        new_list.append(list_a[i] ** 2)
        i += 1

    except :
    #try문 안에서 실행되는 코드가 에러가 발생한다면 반복문을 종료
        break
new_list

[1, 4, 9, 16, 25]

In [ ]:
#map() 함수를 이용
#map() + 일반 함수

def func_1(x):
    result = x ** 2
    return result

#map() -> list_a의 데이터들은 각각 func_1 함수에 대입하여 새로운 결과를 
list(
    map(
        func_1,list_a
)
)

[1, 4, 9, 16, 25]

In [34]:
# lambda 함수 + map()
# lambda 함수는 단순한 작업할때만 사용함
# lambda 매개변수 : 매개변수 변환하는 코드( return이 필요 x )
# lambda 에서는 매개변수를 일반적으로 x,y,z를 씀

list( 
    map(
        lambda x : x ** 2,
        list_a
    )
)

[1, 4, 9, 16, 25]

In [37]:
# map() 함수에는 첫번째 인자는 함수로 고정
# 두번째 인자부터는 1차원 데이터의 가변의 매개변수
# *가변 표시를 넣어주면 여러개의 데이터가 들어갈 수 있음

list(
    map(
        lambda *x : x,
        [1,2,3,4,5],
        [5,4,3,2,1]
    )
)

[(1, 5), (2, 4), (3, 3), (4, 2), (5, 1)]

In [38]:
list(
    map(
        lambda x, y : x + y,
        [1,2,3,4,5],
        [5,4,3,2,1]
    )
)

[6, 6, 6, 6, 6]

In [44]:
# 위의 map 함수가 하는 기능을 반복문으로 작성한다면?

list_1 = [1,2,3,4,5]
list_2 = [5,4,3,2,1]

new_list = []
i = 0

for i in range(len(list_1)):
    new_list.append(list_1[i] + list_2[i])

print(new_list)

[6, 6, 6, 6, 6]

In [45]:
new_list = []
for x, y in zip( list_1 , list_2):
    new_list.append(x+y)

new_list

[6, 6, 6, 6, 6]

In [47]:
list(zip( list_1, list_2))

[(1, 5), (2, 4), (3, 3), (4, 2), (5, 1)]

In [48]:
# map(), zip() 함수를 확인하면 0x....과 같은 출력 생성

class A:
    def __init__(self, _x):
        self.x = _x

In [49]:
class_a = A(10)

In [50]:
# 일반적으로 생성된 클래스는 주소값 확인이 가능
class_a

In [58]:
class B:
    def __init__ (self,x):
        self.x = x
    def __repr__(self):
        return str(self.x)

In [59]:
class_b = B(20)

In [60]:
class_b

20

### 연습

- 함수(func_2) 생성
    - 매개변수 1개 -> n(기본값이 존재x)
    - n 팩터리얼의 값을 되돌려주는 함수

    n x (n-1) x (n-2) x ...

In [61]:
# 함수 생성 -> 매개변수, 함수의 결과에 대한 힌트를 포함

def func_2(n : int) -> int : 

    # 1부터 시작해서 자기자신까지 1씩 증가시키면서 누적곱
    result = 1
    for i in range(2,n+1,1):
        result += i
    return result

In [63]:
func_2(5)

15

In [82]:
def func_3(n : int) -> int:
    result = n

    for i in range(n-1,1,-1):
        result *= i
    return result

In [83]:
func_3(6)

720

### 재귀 함수
- 어떤 이벤트에서 자기 자신을 포함하고 다시 자기 자신을 사용하여 정이되는 것을 의미
- 재귀를 효과적으로 사용하면 프로그램을 간결하고 효율성이 좋게 작성이 가능함

In [88]:
def func_4(n : int) -> int:



    if n > 0 :
        return n * func_4(n-1)
    else :
        return 1

In [89]:
func_4(5)

120

In [94]:
#list에 내장된 reverse() 함수를 생성
def list_reverse(_x):
    # 가장 마지막의 데이터를 추출하여 새로운 리스트에 추가
    result = []

    for i in range(1, len(_x) +1 ):
        result.append(
            _x[-i]
        )
    return result

In [107]:
test_list = [1,2,3,4,5]

In [108]:
list_reverse(test_list)

[5, 4, 3, 2, 1]

In [113]:
def list_reverse2(_x):
    #_x의 복사본 생성
    result = _x.copy()
    for i in range(len(result)//2):
        result[i], result[-1-i] = result[-1-i], result[i]
    return result

In [112]:
list_reverse2(test_list)

[1, 2, 3, 4, 5]

In [114]:
test_list

[5, 4, 3, 2, 1]

#### 연습
- find() 함수를 생성해보자
    - 함수의 이름은 c_find()
    - 매개변수 2개 (_data, _word)
    - _data에서 _word의 위치를 출력하는 기능
    - 찾는 _word가 여러개라면 여러개를 동시에 출력
    - 찾는 _word가 존재하지 않는다면 () 출력

In [118]:
#find(), index() 함수를 모른다는 기준으로 함수 구성

def c_find(_data,_word):
    # index들이 저장될 공간을 설정

    result = [] # 리스트
    result2 = () # 튜플

    for i in range(len(_data)):
        
        if _data[i] == _word:
            #리스트 데이터에서 데이터를 추가할때
            result.append(i)
            #result2는 tuple에 데이터를 추가??
            #tuple + tuple은 새로운 tuple 생성
            # result2 += (i)
    return result, result2

In [119]:
c_find('apple','p')

([1, 2], ())

In [122]:
c_find(
    ['a','b','c','d','a'],
    'a'
)

([0, 4], ())

In [123]:
c_find('apple','b')

([], ())

In [135]:
#find(), index() 함수를 모른다는 기준으로 함수 구성

def c_find(_data,_word):
    # index들이 저장될 공간을 설정

    result = [] # 리스트
    result2 = () # 튜플

    for i in range(len(_data)):
        #_data가 문자인가? -> 변수의 타입이 무엇인가

        if type(_data) == str :
            flag = _data[i : i + len(_word)] == _word
        else:
            flag = _data[i] == _word

        
        if flag :
            #리스트 데이터에서 데이터를 추가할때
            result.append(i)
            #result2는 tuple에 데이터를 추가??
            #tuple + tuple은 새로운 tuple 생성
            result2 += (i,)
    return result, result2

In [136]:
c_find('apple','p')

([1, 2], (1, 2))

In [137]:
c_find(
    ['a','b','c','d','a'],
    'a'
)

([0, 4], (0, 4))

In [138]:
c_find('apple','b')

([], ())

#### 연습
- 소수를 구하는 함수를 생성하시오
    - 매개변수 : 2개 (_start (기본값 2), _end (기본값 100))
    - 소수란?
        - 1과 자기 자신 이외에는 나누어 떨어지지 않는 수를 의미
            - 조건 : 2부터 시작해서 (자기자신 -1) 까지 어떤 정수로도 나누어 떨어지지 않는다.
    - _start부터 _end까지의 수를 반복하여 소수인 데이터를 비어있는 리스트에 추가한다.
    - 소수의 리스트와 반복 횟수를 되돌려준다.

In [ ]:
#함수 생성 매개변수(_start, _end) 2개 기본값 설정
def prime_list(_start=2, _end = 100):
    #반복횟수를 1씩 증가하기 위한 초기 값 0 설정
    cnt=0
    # 소수가 들어갈 비어있는 리스트를 생성
    new_list1 = []
    # 반복문을 이용하여 _start부터 _end + 1까지 반복
    for i in range(_start, _end + 1):
        #2부터 자기자신의 -1까지 반복을 하는 반복문 생성
        for j in range(2,i):
            #반복횟수를 1씩 증가
            cnt += 1
            #나눠서 나머지가 0인가 체크(조건문)
            if i % j == 0:
                #참이라면 반복문을 종료
                break
        # 조건문이 거짓이라면
        else : 
            #소수 리스트에 추가
            new_list1.append(i)
            #소수의리스트와 반복횟수를 되돌려준다
    return(new_list1,cnt)

In [172]:
prime_list()

([2,
  3,
  5,
  7,
  11,
  13,
  17,
  19,
  23,
  29,
  31,
  37,
  41,
  43,
  47,
  53,
  59,
  61,
  67,
  71,
  73,
  79,
  83,
  89,
  97],
 1133)

In [12]:
#함수 생성 매개변수(_start, _end) 2개 기본값 설정
# 개선 : 소수는 2를 제외한 짝수는 포함 X
def prime_list(_start=2, _end = 100):
    #반복횟수를 1씩 증가하기 위한 초기 값 0 설정
    cnt=0
    # 소수가 들어갈 비어있는 리스트를 생성
    # _start=2라면 result는 -> [2]
    if _start == 2:
        new_list = [2]
    else :
        new_list = []
    # 반복문을 이용하여 _start부터 _end + 1까지 반복
    # 짝수는 2를 제외한 나머지는 소수가 될 수 없으므로 홀수만 반복 실행
    # _start가 짝수라면 _start + 1
    if _start % 2 == 0:
        _start += 1

    for i in range(_start, _end + 1, 2):
        flag =1
        #2부터 자기자신의 -1까지 반복을 하는 반복문 생성
        for j in range(2,i):
            #반복횟수를 1씩 증가
            cnt += 1
            #나눠서 나머지가 0인가 체크(조건문)
            if i % j == 0:
                #참이라면 반복문을 종료
                flag=0
                break
        # 조건문이 거짓이라면
        #else : 
        if flag:
            #소수 리스트에 추가
            new_list.append(i)
            #소수의리스트와 반복횟수를 되돌려준다
    return(new_list,cnt)

In [14]:
prime_list()

([2,
  3,
  5,
  7,
  11,
  13,
  17,
  19,
  23,
  29,
  31,
  37,
  41,
  43,
  47,
  53,
  59,
  61,
  67,
  71,
  73,
  79,
  83,
  89,
  97],
 1084)

In [179]:
#개선
#홀수를 기준으로 반복 -> 이미 찾은 소수로 나눠서 나머지가 0이라면 소수x
cnt = 0
result = [2]

for n in range(3,101,2):
    # 이미 찾은 소수의 데이터로 반복하여 나눠준다
    #for i in range(2,n)을 수정

    for i in result :
        cnt += 1
        if n % i == 0 :
            break
    else:
        result.append(n)

print(cnt)
print(result)

362
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]